text-summarization-and-speech-synthesis/statemachine/skeleton-sfn-template.asl.json
{
  "Comment": "A skeleton state machine workflow for text summarization and speech synthesis.",
  "StartAt": "Format Summarize Parameter",
  "States": {
    "Format Summarize Parameter": {
      "Type": "Pass",      
      "Parameters": {
        "input_param": {
          "inputs.$": "$.text"
        }
      },
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Placeholder message"
    },
    "Placeholder message": {
      "Type": "Pass",      
      "Parameters": {
        "msgOverride": "In summary, this needs to be implemented!"
      },
      "Next": "Send Text Summary to WebSocket Connection"
    },
    "Send Text Summary to WebSocket Connection": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SEND_RESULT_FUNCTION_ARN}",
        "Payload": {
          "executionArn.$": "$$.Execution.Id",
          "msgOverride.$" : "$.msgOverride"
        }
      },
      "ResultPath": null,
      "End": true
    }
  }
}